@import url(http://fonts.googleapis.com/css?family=Averia+Libre);

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #8a0808;
  font-family: Helvetica, Verdana, sans-serif;
  color: #fff;
  font-size: 15px;
}

p {
  margin: 1em 0;
}

a, a:visited {
  text-decoration: none;
  color: #8a0808;
}

a:hover {
  color: #fff;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 20px;
}

.container:before,
.container:after {
  content:"";
  display:table;
}
.container:after {
  clear:both;
}
.container {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.wrap {
  background-color: #111;
}

header {
  padding: 40px 0 20px;
}

header h1 {
  font-family: 'Averia Libre', cursive;
  font-size: 5em;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
}

header h1 a, header h1 a:visited {
  text-shadow: #933 0 1px 0;
  transition: all .5s ease-in-out;
}

header h1 a:hover {
  text-shadow: #777 0 1px 10px;
}

.main h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3em;
}

.main h2 {
  text-transform: uppercase;
  font-size: 20px;
}

.lyrics hr {
  background-color: #8a0808;
  margin: 40px 0;
}

.menu {
  list-style: none;
  float: right;
  width: 160px;
}

.menu li {
  margin-bottom: 5px;
}

.menu a {
  background-color: #8a0808;
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  transition: all .3s ease-in-out;
}

.menu a, .menu a:visited {
  color: #fff;
}

.menu a:hover {
  background-color: #fff;
  color: #8a0808;
}

@media screen and (max-width: 680px) {
  header {
    padding: 0;
  }

  header h1 {
    float: none;
    text-align: center;
  }

  .menu {
    float: none;
    text-align: center;
    display: table;
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    table-layout: fixed;
  }

  .menu li {
    display: table-cell;
  }
}

footer {
  text-align: center;
  color: #ccc;
  margin: 60px 0;
}

footer a, footer a:visited {
  color: #fff;
}

footer .divider {
  margin: 0 30px;
}

footer .copyleft {
  font-size: 13px;
}

footer a:hover {
  color: #ccc;
}

.component {
  margin-bottom: 20px;
}

.disqus {
  text-align: center;
  margin: 60px 0;
}

.vimeo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.vimeo iframe, .vimeo object, .vimeo embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lyrics {
  float: left;
  max-width: 470px;
}

.soundcloud-float {
  float: right;
  width: 470px;
}

.contact {
  text-align: center;
  font-size: 18px;
}

.contact dd {
  margin-bottom: 20px;
}
