* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #8A0808;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a, a:visited {
  color: #00a;
}

a:hover {
  color: #000;
}

.container {
  width: 700px;
  margin: 0 auto;
  padding: 20px 0;
}

header {
  text-align: center;
  background-color: #000;
  padding: 20px 0;
  background-image: url('/images/background.jpg');
  background-position: center;
}

footer {
  text-align: center;
  color: #fff;
}

.main {
  background-color: #eee;
}

.component {
  margin-bottom: 20px;
}
