@import url('https://fonts.googleapis.com/css?family=Averia+Libre');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

img {
  width: 100px;
  border-radius: 15px;
}

h1 {
  font-family: 'Averia Libre', cursive;
  color: #8a0808;
  font-size: 80px;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: #933 0 1px 0;
  transition: all .5s ease-in-out;
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }
}
