<div class="pull-left">
  <img class="media-object" src="http://www.gravatar.com/avatar/<%= MD5(email) %>?s=40&d=retro&r=x" />
</div>
<div class="media-body">
  <h5 class="media-heading"><%= $('<div></div>').text(name).html() %></h5>
  <p><%= $('<div></div>').text(content).html() %></p>
</div>