<div class="well" id="download">
  <h4>Baixe agora!</h4>
  <%= link_to image_tag('demo_cover.jpg'), '#download', id: 'download_link' %>

  <%= render 'downloads/form', {download: Download.new} %>
</div>