<div class="page-header">
  <h1>A BANDA</h1>
</div>

<p>Rock, funk, hardcore punk, linhas antigas e modernas. Radicaos é uma iniciativa musical
  surgida em Correntina, velho oeste baiano.</p>

<p>A variedade de ritmos experimentada em cada música cria
  a atmosfera frenética onde idéias contestadoras (ou as contestações de idéias) emergem.</p>

<p><%= image_tag '01.jpg', class: 'img-polaroid' %></p>

<p>Com uma primeira release em 2012, a banda lançou quatro faixas numa demo, que exploram
  sua diversidade de gênero. Download gratuito aqui do lado <i class="icon-arrow-right"></i></p>
