<div class="page-header">
  <h1>A BANDA</h1>
</div>

<p>Rock, funk, hardcore punk, linhas antigas e modernas. Radicaos é uma iniciativa musical
  surgida em Correntina, velho oeste baiano, fruto das jam sessions do baixista Xi
  Drinx e do guitarrista Volmer.</p>
<%= image_tag '9.jpg' %>
<p>A variedade de ritmos experimentada em cada música cria
  a atmosfera frenética onde idéias contestadoras (ou as contestações de idéias) emergem.</p>