<div class="page-header">
  <h1>CONTATO</h1>
</div>

<dl>
  <dt>E-mail</dt>
  <dd><%= mail_to 'banda@radicaos.com' %></dd>

  <dt>Twitter</dt>
  <dd><%= link_to '@radicaos', 'http://twitter.com/radicaos', target: '_blank' %></dd>

  <dt>Facebook</dt>
  <dd><%= link_to 'facebook.com/radicaos','http://facebook.com/radicaos', target: '_blank' %></dd>
</dl>

<p><%= image_tag '03.jpg', class: 'img-polaroid' %></p>