<div class="page-header">
  <h1>CONTATO</h1>
</div>

<p>E-mail: <%= mail_to 'banda@radicaos.com' %><br/>
Twitter: <%= link_to '@radicaos', 'http://twitter.com/radicaos', :target => '_blank' %><br/>
Facebook: <%= link_to 'facebook.com/radicaos','http://facebook.com/radicaos', :target => '_blank' %></p>
<%= image_tag '02.jpg' %>