 html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -200px;
}

/* Set the fixed height of the footer here */
#push, footer {
  height: 200px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

footer {
  background-color: #333333;
  color: #F5F5F5;
  text-align: center;

  .container {
    padding-top: 20px;
  }
}

#header {
  background: url('/assets/background.jpg') center center;
  h1{
    text-align: center;
    margin: 80px 0 40px;
  }
}

#main{
  padding: 20px 0 80px;
}

#page_container{
  overflow: auto;
  max-height: 720px;
}

.page{
  display: none;

  img{
    display: block;   
    margin-left: auto;   
    margin-right: auto; 
  }
}

.fb-like-box{
  background-color: white;
}