<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page.title }}
    </title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="Radicaos, banda, rock, funk, hardcore, punk,
      alternative rock, víbora rock, Correntina, Bahia, Volmer">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">

    {% include google_analytics.html %}
  </head>

  <body>
    <div class="wrap">
      {% include header.html %}

      <div class="main">
        <div class="container">
          {{ content }}
        </div>

        <div class="container">
          {% include disqus.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
